SNOWFLAKE_ACCOUNT=xxxxx-xx00000
SNOWFLAKE_USER=VIA_DELAY_USER
SNOWFLAKE_PASSWORD=change-me
SNOWFLAKE_ROLE=VIA_DELAY_ROLE
SNOWFLAKE_WAREHOUSE=VIA_DELAY_WH
SNOWFLAKE_DATABASE=VIA_DELAYS
SNOWFLAKE_SCHEMA_RAW=RAW
SNOWFLAKE_SCHEMA_STAGING=STAGING
SNOWFLAKE_SCHEMA_MART=MART

MODEL_DIR=/app/models
ACTIVE_MODEL_FILE=active.joblib

INGESTION_BASE_URL=http://ingestion:8000
TRAINING_BASE_URL=http://training:8000
PREDICTION_BASE_URL=http://prediction:8000

SCRAPE_USER_AGENT=via-delay-oracle/0.1 (+https://example.com)
TRANSITDOCS_BASE=https://asm.transitdocs.com
VIA_LIVE_BASE=https://tsimobile.viarail.ca

USE_SNOWFLAKE=false
LOCAL_SQLITE_PATH=/app/data/via_delays.sqlite
