snowflake_organization_name = "my-org"
snowflake_account_name      = "my-account"
snowflake_admin_user        = "ACCOUNTADMIN_USER"
snowflake_pat_token         = "change-me"
snowflake_admin_role        = "ACCOUNTADMIN"

database_name        = "VIA_DELAYS"
raw_schema_name      = "RAW"
staging_schema_name  = "STAGING"
mart_schema_name     = "MART"
warehouse_name       = "VIA_DELAY_WH"
service_role_name    = "VIA_DELAY_ROLE"
service_user_name    = "VIA_DELAY_USER"
service_user_password = "change-me"
